<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <div class="row">
      <div class="large-3 columns">
        <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
      </div>
      <div class="large-9 columns">
        <ul class="inline-list right">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row">    
      <div class="large-9 push-3 columns">
        <h3>
          <%= content_for?(:page_title) ? yield(:page_title) : "" %>
          <small><%= content_for?(:page_subtitle) ? yield(:page_subtitle) : "" %></small>
        </h3>
        <%= yield %>
      </div>
       
      <div class="large-3 pull-9 columns">
          
        <ul class="side-nav">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
          <li><a href="#">Section 5</a></li>
          <li><a href="#">Section 6</a></li>
        </ul>
        
          
      </div>
      
    </div>
      
    
     
    
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
              <li><a href="#">Section 4</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>
   
    <%= javascript_include_tag "application" %>
  </body>
</html>
